.orders {
    text-align: center;
    font-size: 3.4rem;
    padding-top: 10rem;
}

.orders > h2 {
    margin-bottom: 2rem;
}

.orders-title {
    margin: 20rem 0;
}

.total-price {
    font-size: 3.3rem;
}