.item {
    width: 22%;
    text-align: center;
    box-shadow: 0 0 3px #252b48;
    border-radius: 10px;
    padding: 1.5rem;
}

.product-img {
    width: 17rem;
    height: 11rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px #9d174d;
    margin-bottom: 1.5rem;
    transition-property: all;
    transition-duration: .1s;
}

.product-img:hover {
    transform: scale(1.1);
}

.product-name {
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.produc-info {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

.produc-info > h2 {
    font-weight: 100;
}

.produc-info > h2 > span {
    color: #9d174d;
}

.like-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.like-basket > img {
    cursor: pointer;
    width: 2.2rem;
    transition-property: all;
    transition-duration: .1s;
}

.like-basket > img:hover {
    transform: scale(1.1);
}