.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.header > img {
    margin-top: 8rem;
    width: 90rem;
    display: flex;
    justify-content: center;
    align-items: center;
}