.navbar {
    color: #fff;
    background-color: #092f67;
    padding: 3rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likeBag {
    font-size: 4rem;
    color: #fff;
    display: flex;
    gap: 4rem;
    align-items: center;
}